/* styles_about.css */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Space Mono", monospace;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  max-width: 800px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  background-color: #111;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

.text-content2 h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
}

.text-content2 p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.text-content2 a {
  color: #ccc;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.text-content2 a:hover {
  color: #fff;
}
